/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/

/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

@font-face {
  font-family: 'HTWEB';
  src:    url('../webfonts/HealTheWebA-Regular.otf');

  

}

@font-face {
  font-family: 'HTWORLD';
  src:    url('../webfonts/HealTheWebB-Regular.otf');

}

.font-htweb{
  font-family: 'HTWEB', serif;
}
.font-htworld{
  font-family: 'HTWORLD', serif;
}

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  margin-bottom: 3rem;
  line-height: 1.2;

  &:last-of-type{
    margin-bottom: 0;
  }

}

///FONT FEATURE STRUCTURES

.normal {
  font-feature-settings: normal;
  color: $htw-grey;

}

.ss01 {
  font-feature-settings: "ss01";
}

.ss02 {
  font-feature-settings: "ss02";
}

.ss03 {
  font-feature-settings: "ss03";
}

.ss04 {
  font-feature-settings: "ss04";
}

.ss05 {
  font-feature-settings: "ss05";
}

.ss06 {
  font-feature-settings: "ss06";
}

.lh-1{
  line-height: 1;
}
.lh-2{
  line-height: 2;
}
