/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  text-decoration: none;

  // hovering on the btn
  &:hover, &:focus {
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

.btn-rounded{
  text-transform: uppercase;
  background-color: $htw-grey;
  border-radius: 90px;
  color: $htw-black !important;
  padding: 0.7rem 1.5rem 0.4rem 1.5rem;
  text-decoration: none !important;

  &.active {
    background-color: $htw-lavendel;
  }
}

.btn-styleset, .btn-case{
  text-align: center;
  margin-right: 10px;
  text-decoration: none !important;
  padding: 12px 24px;
  border-radius: 45px;
  background-color: $htw-grey-light;
  color: $htw-black !important;
  @include transition(all .25s ease);

  &:hover{
    background-color: $htw-green;
  }

  &.active{
    background-color: $htw-green;
    border-radius: 90%;
  }
}