.white-box{
  &.shrinked{
    max-width: 1000px;
  }
}

.glyphs-wrap {
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding-top: 100px;

  .glyph{
    padding: 0;
  }
}

.grid-container {

  grid-template-columns: minmax(0, 0.5fr) minmax(0, 0.5fr);

  &__1{
    display: grid;
    grid-template-areas:
    'textinput textinput'
    'left right-first'
    'left right-first'
    'left right-second';
    grid-gap: 10px;

    .grid-item-0 {
      display: block;
    }
  }

  &__2{
    display: grid;
    grid-template-areas:
    'top-left top-right'
    'bottom-left bottom-right';
    grid-gap: 10px;

    .grid-item-0 { grid-area: top-left; }
    .grid-item-1 { grid-area: top-right; }
    .grid-item-2 {
      display: block;
    }
    .grid-item-3 { grid-area: bottom-right; }
  }

}

.section-block{

  &.mb-160{
    margin-bottom: 160px;
  }

  &.mb-80{
    margin-bottom: 80px;
  }

  &.pb-80{
    padding-bottom: 80px;
  }

  &.mt-80{
    margin-top: 80px;
  }

  &.pt-80{
    padding-top: 80px;
  }

}

#site-wrapper {
  padding: 0 2rem 0 2rem;
}

.highlighted {
  padding: 8px 20px 5px 20px;
}
