/*********************
FONTS
*********************/

$fontsize-15: 1.066666666666rem !important;
$fontsize-20: 1.25rem !important;
$fontsize-30: 1.875rem !important;
$fontsize-40: 3rem !important;
$fontsize-logo: 3rem !important;
$fontsize-60: 3.75rem !important;
$fontsize-90: 4.5rem !important;
$fontsize-120: 10.5rem !important;
$fontsize-400: 14rem !important;
$fontsize-glyph: 21rem !important;
$fontsize-glyph-header: 25rem !important;
$fontsize-500: 17rem !important;
$fontsize-600: 25rem !important;

.fontsize-15 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-15;
  }
  font-size: $fontsize-15;

}

.fontsize-20 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-20;
  }
  font-size: $fontsize-20;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-logo {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-logo;
  }
  font-size: $fontsize-logo;
}


.fontsize-60 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-60;
  }
  font-size: $fontsize-60;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-120 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-400 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-400;
  }
  font-size: $fontsize-400;
}

.fontsize-glyph {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph;
  }
  font-size: $fontsize-glyph;
}

.fontsize-glyph-header {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph-header;
  }
  font-size: $fontsize-glyph-header;
}


.fontsize-500 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-500;
  }
  font-size: $fontsize-500;
}

.fontsize-600 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-600;
  }
  font-size: $fontsize-600;

}


.white-box{
  &.shrinked{
    max-width: 1400px;
  }
}

.range-slider {
  max-width: 460px;

}