/*********************
FONTS
*********************/

$fontsize-15: 1rem !important;
$fontsize-20: 1.1rem !important;
$fontsize-30: 1.1rem !important;
$fontsize-40: 1.5rem !important;
$fontsize-logo: 2.5rem !important;
$fontsize-60: 1.75rem !important;

$fontsize-90: 2.75rem !important;
$fontsize-120: 3rem !important;
$fontsize-400: 3.5rem !important;
$fontsize-glyph: 12.5rem !important;
$fontsize-glyph-header: 12.5rem !important;
$fontsize-500: 4.25rem !important;
$fontsize-600: 6rem !important;

.fontsize-15 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-15;
  }
  font-size: $fontsize-15;
}

.fontsize-20 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-20;
  }
  font-size: $fontsize-20;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-logo {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-logo;
  }
  font-size: $fontsize-logo;

}

.fontsize-60 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-60;
  }
  font-size: $fontsize-60;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-120 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-400 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-400;
  }
  font-size: $fontsize-400;
}

.fontsize-glyph {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph;
  }
  font-size: $fontsize-glyph;
}

.fontsize-glyph-header {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph-header;
  }
  font-size: $fontsize-glyph-header;
}


.fontsize-500 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-500;
  }
  font-size: $fontsize-500;
}

.fontsize-600 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-600;
  }
  font-size: $fontsize-600;
}
