/*********************
FONTS
*********************/

$fontsize-15: 1.066666666666rem !important;
$fontsize-20: 1rem !important;
$fontsize-30: 1.25rem !important;
$fontsize-40: 2rem !important;
$fontsize-logo: 2rem !important;
$fontsize-60: 2.55rem !important;
$fontsize-90: 3.5rem !important;

$fontsize-120: 6rem !important;
$fontsize-400: 7rem !important;
$fontsize-glyph: 15rem !important;
$fontsize-glyph-header: 15rem !important;
$fontsize-500: 10rem !important;
$fontsize-600: 15rem !important;


.fontsize-15 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-15;
  }
  font-size: $fontsize-15;
}

.fontsize-20 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-20;
  }
  font-size: $fontsize-20;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-logo {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-logo;
  }
  font-size: $fontsize-logo;
}


.fontsize-60 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-60;
  }
  font-size: $fontsize-60;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-120 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-400 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-400;
  }
  font-size: $fontsize-400;
}

.fontsize-glyph {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph;
  }
  font-size: $fontsize-glyph;
}

.fontsize-glyph-header {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph-header;
  }
  font-size: $fontsize-glyph-header;
}


.fontsize-500 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-500;
  }
  font-size: $fontsize-500;
}

.fontsize-600 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-600;
  }
  font-size: $fontsize-600;
}


.logo{
  padding: 0;
}

.global-header {
  height: 100px;
  .navbar-toggle {
    display: none;
  }
}

.hero {
  padding-top: 0px;
}


#site-wrapper {
  padding: 0 1rem 0 1rem;
}

.white-box{
  border-radius: 60px;
  &.shrinked{
    max-width: 950px;
    margin: 0 auto;
  }
  .white-box-inner{
    padding: 60px;
  }
}

.topnav {
  overflow: hidden;

  margin: 10px;
  float: right;
  padding: 10px;

  background-color: transparent;
  cursor: pointer;
  display: flex !important;
  width: auto;
  position: relative;
  transform: translateY(0%);
  height: auto;

  a{
    margin-left: 10px;
    margin-bottom: 0;

  }

  &.visible{
    transform: translateY(0%);
  }

  li{
    display: inline-block;
    text-align: left;
  }

}

.grid-container {

  grid-template-columns: minmax(0, 0.5fr) minmax(0, 0.5fr);

  &__1{
    display: grid;
    grid-template-areas:
    'textinput textinput'
    'left right-first'
    'left right-first'
    'left right-second';
    grid-gap: 10px;

    .grid-item-0 {
      display: block;
    }
  }

  &__2{

    grid-template-columns: minmax(0, 1fr);


    display: grid;
    grid-template-areas:
    'top-left top-right'
    'top-right'
    'bottom-left'
    'bottom-right';
    grid-gap: 10px;

    .grid-item-0 { grid-area: top-left; }
    .grid-item-1 { grid-area: top-right; }
    .grid-item-2 {
      display: block;
    }
    .grid-item-3 { grid-area: bottom-right; }
  }

}

.hero {
  .hero-inner{
    padding: 0 10vw;
    text-align: left;
  }
}

.section-block{

  &.mb-160{
    margin-bottom: 90px;
  }

  &.mb-80{
    margin-bottom: 45px;
  }

  &.pb-80{
    padding-bottom: 45px;
  }

  &.mt-80{
    margin-top: 45px;
  }

  &.pt-80{
    padding-top: 45px;
  }

}

.shop-teaser-wrap {
  .shop-teaser-inner {
    &.desktop {
      display: block;
    }

    &.mobile {
      display: none;
    }
  }
}

.slider-wrap{
  flex-direction: column-reverse;
}
.range-slider{
  margin-bottom: 50px;
}

a.btn-download-font {
  padding: 100px;
  border-radius: 245px;
}

a.btn-download-font {
  margin: 0;
}

.footer{
  margin-top: 160px;
  .navbar{
    justify-content: space-between;
    flex-direction: row;
  }
}

.to-top-btn{
  margin-bottom: 0;
}

.highlighted {
  padding: 1px 25px;
}

