/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #000;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;

  &.no-touch{
    a.mobile-underline{
      text-decoration: none;

    }
    a.background-hover{
      @include transition(background-color .25s ease);
      &:hover{
        background-color: $htw-green-light;
      }
    }
  }

}

body{
  font-family: 'HTWORLD', serif;
  min-height: 100vh;
  background-color: $htw-black !important;

  &.accessible{
    a:focus, a.focus {
      box-shadow: 0 0 0 2px $htw-green;
      outline: 2px solid $htw-green;

    }
  }

}

.loader{
  background-color: $htw-black;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 2000;
  opacity: 1;
  @include transition(opacity 1s ease-in);
  &.gone{
    opacity: 0;
  }
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0 rgba(0,123,255,0.25);
}



.container{
  max-width: 100% !important;

}

.global-header {
  background-color: transparent;
  height: 80px;

  @include transition(transform .25s ease);

  &.fixed{
    position: fixed;
  }

  &.gone{
    transform: translateY(-100%);
  }

  .navbar-toggle {
    z-index: 100;
    &:before{
      content: '\1F366';
      display: inline-block;

    }
  }

  &.mobile-nav-open {
    .navbar-toggle {
      color: $htw-lavendel;
    }
    .topnav {
      transform: translateY(0);
      height: auto;
      padding: 100px 0 50px 0;
    }
  }

}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: $htw-lavendel;
}

::selection {
  color: black;
  background: $htw-lavendel;
}

/*********************
FONTS
*********************/

$fontsize-15: 1rem !important;
$fontsize-20: 1.1rem !important;
$fontsize-30: 1.1rem !important;
$fontsize-40: 1.5rem !important;
$fontsize-logo: 2rem !important;
$fontsize-60: 1.75rem !important;

$fontsize-90: 2rem !important;
$fontsize-120: 2.5rem !important;
$fontsize-400: 3rem !important;
$fontsize-glyph-header: 12rem !important;
$fontsize-glyph: 12rem !important;
$fontsize-500: 4rem !important;
$fontsize-600: 12rem !important;

.fontsize-15 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-15;
  }
  font-size: $fontsize-15;
}

.fontsize-20 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-20;
  }
  font-size: $fontsize-20;
}

.fontsize-30 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-30;
  }
  font-size: $fontsize-30;
}

.fontsize-40 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-40;
  }
  font-size: $fontsize-40;
}

.fontsize-logo {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-logo;
  }
  font-size: $fontsize-logo;

}

.fontsize-60 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-60;
  }
  font-size: $fontsize-60;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-120 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-120;
  }
  font-size: $fontsize-120;
}

.fontsize-400 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-400;
  }
  font-size: $fontsize-400;
}

.fontsize-glyph {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph;
  }
  font-size: $fontsize-glyph;
}

.fontsize-glyph-header {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-glyph-header;
  }
  font-size: $fontsize-glyph-header;
}


.fontsize-500 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-500;
  }
  font-size: $fontsize-500;
}

.fontsize-600 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, textarea, text {
    font-size: $fontsize-600;
  }
  font-size: $fontsize-600;
}



/* ==========================================================================
   Top navigation
   ========================================================================== */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo{
  color: #000 !important;
  margin-left: 0;
  outline: 0;
  padding: 10px 0;
  z-index: 1;
}

a{
  color: $htw-black;
  &:hover{
    color: $htw-black;
  }

  &:hover{
    &.hover-underline{
      text-decoration: underline;
    }
  }

}

.topnav {
  overflow: hidden;
  float: right;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  background-color: $htw-grey-light;
  @include transition(all .25s linear);
  transform: translateY(-100%);

  &.visible{
    transform: translateY(0%);
    height: auto;
    padding: 10px;
  }

  li{
    display: block;
    text-align: center;
  }

  a {
    @include transition(all .25s ease);
    text-decoration: none;
    padding: 0.7rem 1.5rem 0.4rem 1.5rem;;
    color: #000;
    background-color: $htw-grey;
    border-radius: 100%;
    margin-bottom: 10px;

    &:hover, &.hover, &.active {
      background-color: $htw-lavendel;
      border-radius: 45px;
    }

  }

}

.pulse{
  animation: pulse 1.5s infinite;
  &:hover{
    animation: none;
  }
}

.hero {
  position: fixed;
  background-color: #fff;
  top:0;
  left: 0;
  z-index: -1;
  padding-top: 0;

  .hero-inner{
    padding: 7vw;
    text-align: center !important;
  }

}

#site-wrapper {
  background: transparent linear-gradient(180deg, #DEFFDD 0%, #DFACFF 100%) 0% 0% no-repeat padding-box;
  padding: 0;
  min-height: 100vh;
  margin-top: 100vh;
  z-index: 2;
}

a.white-box {
  text-decoration: none;
}
.white-box{
  background-color: white;
  border-radius: 40px;

  &.shrinked{
    margin-bottom: 10px !important;
  }

  .white-box-inner{
    padding: 40px 25px;

    position: relative;
    width: 100%;
    height: 100%;
  }
}

#text-input {
  width: 100%;
  min-height: 300px;
  padding: 1.5rem;
  resize: none;
  border: 0;
  outline: 0;

  line-height: 1;
}

.section-block{

  &.mb-160{
    margin-bottom: 80px;
  }

  &.mb-80{
    margin-bottom: 40px;
  }

  &.pb-80{
    padding-bottom: 40px;
  }

  &.mt-80{
    margin-top: 40px;
  }

  &.pt-80{
    padding-top: 40px;
  }

}

.flip-element {
  cursor: e-resize;
  &.elem-1 {
    .elem-1 {
      display: block;
    }
    .elem-2 {
      display: none;
    }
  }
  &.elem-2 {
    .elem-2 {
      display: block;
    }
    .elem-1 {
      display: none;
    }
  }
}

.grid-container {

  grid-template-columns: minmax(0, 1fr);

  &__1{
    display: grid;
    grid-template-areas:
    'textinput'
    'left'
    'right-first'
    'right-second';
    grid-gap: 10px;

    .grid-item-0 {
      grid-area: textinput;
      display: none;
    }
    .grid-item-1 { grid-area: left; }
    .grid-item-2 { grid-area: right-first; }
    .grid-item-3 { grid-area: right-second; }
  }

  &__2{
    display: grid;
    grid-template-areas:
    'top-left'
    'top-right'
    'bottom-left'
    'bottom-right';
    grid-gap: 10px;

    .grid-item-0 { grid-area: top-left; }
    .grid-item-1 { grid-area: top-right; }
    .grid-item-2 {
      grid-area: bottom-left;
      display: none;
    }
    .grid-item-3 { grid-area: bottom-right; }
  }

}

.download-arrow{

  padding: 25px;
  margin: 0 auto;

  .download-arrow-inner{
    width: 125px;
    height: auto;
  }

}

.glyphs-btn{
  cursor: e-resize;
}

.glyphs-wrap{
  .glyph {
    padding: 50px 0 50px 0;
    span {
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      line-height: 1;
    }
  }
}


a.mobile-underline{
  text-decoration: underline;
}

.highlighted{
  background-color: $htw-green-light;
  border-radius: 45px;
  padding: 0 10px;
  text-decoration: none !important;
  @include transition(background-color .25s ease);

  &:hover{
    background-color: $htw-green;
  }

}

.text-input-box[data-type="font-htworld"] {
  .btn-styleset[data-style="ss05"],
  .btn-styleset[data-style="ss06"] {
    display: none;
  }
}

a.btn-download-font{
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: $htw-blue;
  display: block;
  padding: 60px;
  border-radius: 100%;
  margin: 0 -7.5px;

  @include transition(transform 1s ease-in-out);
  transform: scale(1);

  &:hover{
    transform: scale(0.9);
  }
}

.ticker{
  overflow: hidden;
  will-change: contents;
}

.shop-teaser-wrap{

  overflow: hidden;
  position: relative;

  &:hover{
    .shop-teaser-inner.desktop {
      transform: scale(0.9);
    }
    .shop-teaser-inner.mobile {
      transform: scale(1);
    }
  }

  .shop-teaser-inner{

    &.desktop{

      display: none;
      background-image: url('../img/shop-image.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      transform: scale(1);
      @include transition(transform 1s ease-in-out);

      &:after{
        content:'';
        padding-top: 100vh;
        display: block;
      }
    }

    &.mobile{
      background-image: url('../img/shop-image-mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      position: relative;
      transform: scale(1);
      @include transition(transform 1s ease-in-out);

      &:after{
        content:'';
        padding-top: 100vh;
        display: block;
      }
    }

  }



  .shop-teaser-btn{
    transform-origin: center;
    background-color: $htw-blue;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px 60px 15px 60px;
    border-radius: 100%;
    z-index: 1;

    span{
      overflow: hidden;
    }
  }
}

.the-story {
  p {
    line-height: 1.5;
  }
}

/*********************
footer stuff
*********************/

.to-top-btn{
  background-image: url(../img/arrow-up.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 50px;
  transform: translateY(-10px);
}

.footer{
  margin-top: 80px;
  .navbar{
    justify-content: center;
    flex-direction: column-reverse;
  }
}
